#name {
  font-family: 'Raleway', sans-serif;
}

#quote {
  font-family: 'Italianno', cursive;
  font-size: 30px;
  line-height: 35px;
}

#speaker {
  font-family: 'Arapey', serif;
  font-size: 20px;
  margin-top: -15px;
}

.background {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
  background-image: url(./images/sherwin-headshot-1.png);
  background-repeat:no-repeat;
  background-position: center;
}

.work-img {
  border-radius: 50px;
  max-width: 450px;
  max-height: 300px;
  filter: grayscale(100%)
}

.work-img:hover {
  filter: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contact:hover {
  border-bottom: 1px #5bc0de solid;

}
